VITE_UNITY_LOADER_URL=/unity/Build/unity.loader.js
VITE_UNITY_BUILD_URL=/unity/Build
VITE_UNITY_BUILD_NAME=unity
VITE_UNITY_COMPRESSION_SUFFIX=.gz
VITE_API_BASE_URL=
VITE_NIMIQ_EVENT_RECIPIENT=
VITE_NIMIQ_EVENT_PRICE_LUNA=
